body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: slategray;
    min-height: 90vh;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    background-color: steelblue;
    border-radius: 20px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
}

#input {
    text-align: center;
    margin: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

#addBtn {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#removeBtn {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#liBtn{
    background-color: lightblue;
    margin: 5px;
    padding: 15px;
    border-radius: 155px;
    box-shadow: 10px 10px 15px rgba(110, 104, 104, 0.2);
    cursor: pointer;
}

#input:hover {
    background-color: #ccd;
}

#btn:hover {
    background-color: #ccd;
}